<div class="center-block">
  <div class="auth-buttons">
    <%= link_to 'Facebook', '/auth/facebook', class: "btn btn-lg btn-default" %>
    <%= link_to 'Facebook', '/auth/#', class: "btn btn-lg btn-default" %>
    <%= link_to 'Facebook', '/auth/#', class: "btn btn-lg btn-default" %>
  </div>
</div>
